<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <p><strong>Username:</strong> {{ user.username }}</p>
    <p><strong>Bio:</strong> {{ user.bio }}</p>
    <p><strong>Location:</strong> {{ user.location }}</p>
    <p><strong>Role:</strong> {{ user.role }}</p>
    <p><strong>Genre:</strong> {{ user.genre }}</p>
    <p><strong>Equipment:</strong> {{ user.equipment }}</p>
    
</body>
</html>